<% layout ('layouts/boilerplate') %>

<div class="row">
    <div class="col-12 px-3 mx-auto">
        <h1><i class="fas fa-edit"></i>&#160;&#160;Update Product</h1>
        <hr>
        <div class="mb-3 d-flex justify-content-between align-items-center">
            <div> <a href="/admin/products" class="text-decoration-none">&#60;&#60;&#160;Back to Products</a></div>
            <div class="d-grid gap-2 my-auto">
                <form action="/admin/products/<%= product._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-danger fw-bold"><i class="fas fa-trash-alt"></i><span
                            class="d-none d-md-inline">&#160;&#160;Delete Product</span></button>
                </form>
            </div>
        </div>
        <form action="/admin/products/<%= product._id %>?_method=PUT" method="POST" enctype="multipart/form-data"
            class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" name="name" id="name" class="form-control" value="<%= product.name %>" required>
                <div class="invalid-feedback">
                    Name cannot be empty.
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12 col-md-3">
                    <label class="form-label">Current Image:</label>
                    <div class="mb-3 text-center bg-light py-4 rounded border">
                        <img class="img-fluid productImg rounded"
                            src="/images/products/<%= product.id %>/<%= product.image %>" alt="<%= product.name %>">
                    </div>
                </div>
                <div class="col-12 col-md-9 my-auto">
                    <label for="image" class="form-label">Upload New Image:</label>
                    <input type="file" name="image" id="image" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-4 mb-3">
                    <label for="sku" class="form-label">SKU</label>
                    <input type="text" name="sku" id="sku" class="form-control" value="<%= product.sku %>" required>
                    <div class="invalid-feedback">
                        SKU cannot be empty.
                    </div>
                </div>
                <div class="col-12 col-md-4 mb-3">
                    <label for="stock" class="form-label">Stock</label>
                    <input type="number" name="stock" id="stock" class="form-control" value="<%= product.stock %>"
                        min="0" required>
                    <div class="invalid-feedback">
                        Stock cannot be empty.
                    </div>
                </div>
                <div class="col-12 col-md-4 mb-3">
                    <label for="price" class="form-label">Price</label>
                    <input type="number" name="price" id="price" class="form-control" min="0" step="0.01"
                        value="<%= product.price %>" required>
                    <div class="invalid-feedback">
                        Price cannot be empty.
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="details" class="form-label">Details</label>
                <textarea name="details" id="details" rows="5" class="form-control"><%= product.details %></textarea>
            </div>
            <div class="row">
                <div class="col-12 col-md-4 my-auto">
                    <div class="mb-3">
                        <label for="publish">Published&#160;&#160;</label>
                        <input type="checkbox" name="publish" id="publish" <%= product.published ? "checked" : "" %>
                            value="true" />
                    </div>
                </div>
                <div class="col-12 col-md-4 my-auto">
                    <div class="mb-3">
                        <label for="publish">Discount Active&#160;&#160;</label>
                        <input type="checkbox" name="discountActive" id="discountActive"
                            <%= product.isDiscounted ? "checked" : "" %> value="true" />
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="mb-3">
                        <label for="discountAmount" class="form-label">Discount Amount (%)</label>
                        <input type="number" name="discountAmount" id="discountAmount" class="form-control"
                            value="<%= product.discountAmount %>">
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Created On:</label>
                <input type="text" class="form-control" name="createdAt" id="createdAt" value="<%= product.createdAt %>"
                    disabled>
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Last Updated:</label>
                <input type="text" class="form-control" name="updatedAt" id="updatedAt" value="<%= product.updatedAt %>"
                    disabled>
            </div>
            <div class="d-md-none d-grid gap-2 my-4">
                <button class="btn btn-primary fw-bold">
                    <i class="fas fa-pen-fancy"></i>&#160;&#160;Update Product
                </button>
            </div>
            <div class="d-none d-md-block float-end">
                <button class="btn btn-primary fw-bold">
                    <i class="fas fa-pen-fancy"></i>&#160;&#160;Update Product
                </button>
            </div>
        </form>
    </div>
</div>