<% layout ('layouts/boilerplate') %>

<div class="row">
    <div class="col-12 px-4 mx-auto">
        <h1><i class="fas fa-user-edit"></i>&#160;&#160;Update User</h1>
        <hr>
        <div class="mb-3 d-flex justify-content-between align-items-center">
            <div> <a href="/admin/users" class="text-decoration-none">&#60;&#60;&#160;Back to Users</a></div>
            <div class="d-grid gap-2 my-auto">
                <form action="/admin/users/<%= user._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-danger fw-bold"><i class="fas fa-trash-alt"></i><span
                            class="d-none d-md-inline">&#160;&#160;Delete User</span></button>
                </form>
            </div>
        </div>
        <form action="/admin/users/<%= user._id %>?_method=PUT" method="POST">
            <div class="row">
                <div class="col-6">
                    <div class="mb-3">
                        <label for="id" class="form-label">User ID</label>
                        <input type="text" name="id" id="id" class="form-control" value="<%= user._id %>" disabled>
                    </div>
                </div>
                <div class="col-6">
                    <div class="mb-3">
                        <label for="state" class="form-label">User Level</label>
                        <select class="form-select" id="userLevel" name="userLevel">
                            <% let userLevels = ['Banned', 'Regular User', 'Administrator'] %>
                            <% let selected; %>
                            <% for (let i = 0; i < 3; i++) { %>
                            <% selected = i === user.userLevel ? 'selected' : ''; %>
                            <option value="<%= i %>" <%= selected %>><%= userLevels[i] %></option>
                            <% } %>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" name="email" id="email" class="form-control" value="<%= user.email %>">
                    </div>
                </div>
                <div class="col-6">
                    <div class="mb-3">
                        <label for="password" class="form-label">Change Password</label>
                        <input type="password" name="password" id="password" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="mb-3">
                        <label for="firstName" class="form-label">First Name</label>
                        <input type="text" name="firstName" id="firstName" class="form-control"
                            value="<%= user.firstName %>">
                    </div>
                </div>
                <div class="col-6">
                    <div class="mb-3">
                        <label for="lastName" class="form-label">Last Name</label>
                        <input type="text" name="lastName" id="lastName" class="form-control"
                            value="<%= user.lastName %>">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="mb-3">
                        <label for="street" class="form-label">Street</label>
                        <input type="text" name="street" id="street" class="form-control" value="<%= user.street %>">
                    </div>
                </div>
                <div class="col-6">
                    <div class="mb-3">
                        <label for="city" class="form-label">City</label>
                        <input type="text" name="city" id="city" class="form-control" value="<%= user.city %>">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="mb-3">
                        <label for="state" class="form-label">State</label>
                        <select id="state" name="state" class="form-select">
                            <% let statesArr = ['AL','AK','AZ','AR','CA','CO','CT','DE','FL','GA','HI','ID','IL','IN','IA','KS','KY','LA','ME','MD','MA','MI','MN','MS','MO','MT','NE','NV','NH','NJ','NM','NY','NC','ND','OH','OK','OR','PA','RI','SC','SD','TN','TX','UT','VT','VA','WA','WV','WI','WY']; %>
                            <% let fullStates = ['Alabama','Alaska','Arizona','Arkansas','California','Colorado','Connecticut','Delaware','Florida','Georgia','Hawaii','Idaho','Illinois','Indiana','Iowa','Kansas','Kentucky','Louisiana','Maine','Maryland','Massachusetts','Michigan','Minnesota','Mississippi','Missouri','Montana','Nebraska','Nevada','New Hampshire','New Jersey','New Mexico','New York','North Carolina','North Dakota','Ohio','Oklahoma','Oregon','Pennsylvania','Rhode Island','South Carolina','South Dakota','Tennessee','Texas','Utah','Vermont','Virginia','Washington','West Virginia','Wisconsin','Wyoming']; %>
                            <% let stateSelected = ''; %>
                            <% for (let i = 0; i < statesArr.length; i++) { %>
                            <% selected = statesArr[i] === user.state ? 'selected' : ''; %>
                            <option value="<%= statesArr[i] %>" <%= selected %>><%= fullStates[i] %></option>
                            <% } %>
                        </select>
                    </div>
                </div>
                <div class="col-6">
                    <div class="mb-3">
                        <label for="zip" class="form-label">Zip Code</label>
                        <input type="text" name="zip" id="zip" class="form-control" value="<%= user.zip %>">
                    </div>
                </div>
            </div>

            <div class="d-md-none d-grid gap-2 my-4">
                <button class="btn btn-primary fw-bold">
                    <i class="fas fa-user-check"></i>&#160;&#160;Update User
                </button>
            </div>
            <div class="d-none d-md-block float-end">
                <button class="btn btn-primary fw-bold">
                    <i class="fas fa-user-check"></i>&#160;&#160;Update User
                </button>
            </div>
        </form>
    </div>
</div>