<% layout ('layouts/boilerplate') %>

<div class="row">
    <div class="col-12 px-3">
        <div class="row">
            <div class="col-8 col-md-6">
                <h1><i class="fas fa-shopping-bag"></i>&#160;&#160;Products</h1>
            </div>
            <div class="col-4 col-md-6 my-auto">
                <a href="/admin/products/add" class="btn btn-success fw-bold float-end">
                    <span class="d-none d-md-inline">
                        <i class="fas fa-plus-square"></i>&#160;&#160;Add New Product
                    </span>
                    <span class="d-md-none">
                        <i class="fas fa-plus-square"></i>
                    </span>
                </a>
            </div>
        </div>
        <hr>
    </div>
    <div class="col-12 px-4">
        <%- include('../partials/flash') %>
    </div>
    <div class="col-12 px-4">
        <div class="table-responsive">
            <table class="table table-hover table-striped text-center align-middle">
                <thead>
                    <tr>
                        <th style="width: 9%;">Image</th>
                        <th style="width: 19%;">Name</th>
                        <th style="width: 9%;">SKU</th>
                        <th style="width: 9%;">Stock</th>
                        <th style="width: 9%;">Price</th>
                        <th style="width: 9%;">Published</th>
                        <th style="width: 9%;">Discounted</th>
                        <th style="width: 9%;">Edit</th>
                        <th style="width: 9%;">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <% products.forEach((product) => { %>
                    <tr class="fw-bold">
                        <td>
                            <div class="tableImg d-flex align-items-center justify-content-center border bg-light">
                                <img class="img-fluid" src="/images/products/<%= product._id %>/<%= product.image %>"
                                    style="max-width: 100px;">
                            </div>
                        </td>
                        <td>
                            <%= product.name %>
                        </td>
                        <td>
                            <%= product.sku %>
                        </td>
                        <td>
                            <%= product.stock %>
                        </td>
                        <td>
                            $<%= product.price %>
                        </td>
                        <td>
                            <input type="checkbox" disabled <%= product.published ? "checked" : "" %> />

                        </td>
                        <td>
                            <input type="checkbox" disabled <%= product.isDiscounted ? "checked" : "" %> />
                        </td>
                        <td>
                            <a href="/admin/products/<%= product._id %>" class="btn btn-primary">
                                <i class="fas fa-edit"></i>
                            </a>
                        </td>
                        <td>
                            <form action="/admin/products/<%= product._id %>?_method=DELETE" method="POST">
                                <button class="btn btn-danger">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-12 px-4">
        <hr>
        <a href="/admin/products/add" class="btn btn-success fw-bold float-end">
            <span class="d-none d-md-inline">
                <i class="fas fa-plus-square"></i>&#160;&#160;Add New Product
            </span>
            <span class="d-md-none">
                <i class="fas fa-plus-square"></i>
            </span>
        </a>
    </div>
</div>