<% layout('layouts/boilerplate') %>

<div class="row">
    <div class="col-12 px-3 mx-auto">
        <h1><i class="fas fa-cash-register"></i>&#160;&#160;Checkout</h1>
        <hr>
    </div>
    <div class="col-12 px-3">
        <form action="/orders" method="POST">
            <div class="row">
                <div class="col-12 col-md-6 pe-md-5">
                    <div class="row mb-3">
                        <div class="col-12 mb-3">
                            <div class="d-grid gap-2">
                                <button id="clearFormBtn" type="reset" class="btn btn-outline-secondary">
                                    <i class="far fa-times-circle"></i>&#160;&#160;Clear Address Form
                                </button>
                            </div>
                        </div>
                        <div class="col-6">
                            <label for="firstName" class="form-label">First Name</label>
                            <input type="text" class="form-control" name="firstName" id="firstName"
                                <% if (currentUser) { %> value="<%= currentUser.firstName %>" <% } %>>
                        </div>
                        <div class="col-6">
                            <label for="lastName" class="form-label">Last Name</label>
                            <input type="text" class="form-control" name="lastName" id="lastName"
                                <% if (currentUser) { %> value="<%= currentUser.lastName %>" <% } %>>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-12">
                            <label for="email" class="form-label">Email</label>
                            <input type="text" class="form-control" name="email" id="email" <% if (currentUser) { %>
                                value="<%= currentUser.email %>" <% } %>>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-8 mb-3">
                            <label for="street" class="form-label">Street</label>
                            <input type="text" class="form-control" name="street" id="street" <% if (currentUser) { %>
                                value="<%= currentUser.street %>" <% } %>>
                        </div>
                        <div class="col-4">
                            <label for="unit" class="form-label">Apt/Unit #</label>
                            <input type="text" class="form-control" name="unit" id="unit">
                        </div>
                        <div class="col-6 mb-3">
                            <label for="country" class="form-label">Country</label>
                            <input type="text" class="form-control" name="country" id="country">
                        </div>
                        <div class="col-6">
                            <label for="state" class="form-label">State/Prov.</label>
                            <input type="text" class="form-control" name="state" id="state">
                        </div>
                        <div class="col-6 mb-3">
                            <label for="city" class="form-label">City</label>
                            <input type="text" class="form-control" name="city" id="city" <% if (currentUser) { %>
                                value=<%= currentUser.city %> <% } %>>
                        </div>

                        <div class="col-6">
                            <label for="zip" class="form-label">Zip/Postal Code</label>
                            <input type="text" class="form-control" name="zip" id="zip" <% if (currentUser) { %>
                                value=<%= currentUser.zip %> <% } %>>
                        </div>
                    </div>
                    <% if (!currentUser) { %>
                    <div class="row mb-3">
                        <div class="col-12">
                            <div class="form-check">
                                <input type="checkbox" id="createAccount" name="createAccount" class="form-check-input">
                                <label for="createAccount" class="form-check-label">Create Account On Checkout</label>
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>

                <div id="checkoutOrder" class="col-12 col-md-6 mt-3 mt-md-0 ps-md-5">
                    <% if (cart) { %>
                    <% cart.forEach((cartItem) => { %>
                    <div class="row pb-3 mb-3 border-bottom">
                        <div class="col-8 my-auto">
                            <h6 class="mb-0"><%= cartItem.name %></h6>
                            <p class="mb-0">Qty: <%= cartItem.quantity %></p>
                        </div>
                        <div class="col-4 my-auto text-end">
                            <h6 class="mb-0">
                                <%= Number(cartItem.price).toLocaleString('en-US', {style: 'currency',currency: 'USD'}) %>
                            </h6>
                        </div>
                    </div>
                    <% }) %>
                    <div class="row">
                        <div class="col-6">
                            <h6>Subtotal:</h6>
                        </div>
                        <div class="col-6 text-end">
                            <h6>
                                <%= Number(cartSubtotal).toLocaleString('en-US', {style: 'currency',currency: 'USD'}) %>
                            </h6>
                        </div>
                        <div class="col-6">
                            <h6>Shipping:</h6>
                        </div>
                        <div class="col-6 text-end">
                            <h6>$0.00</h6>
                        </div>
                        <div class="col-6 my-2">
                            <h6>Total:</h6>
                        </div>
                        <div class="col-6 my-2 text-end">
                            <h6 class="text-success fw-bold">
                                <%= Number(cartSubtotal).toLocaleString('en-US', {style: 'currency',currency: 'USD'}) %>
                            </h6>
                        </div>
                        <div class="col-12 my-3">
                            <div class="d-grid gap-2">
                                <button class="btn btn-success
                                <% if (cart.length === 0) { %>
                                    disabled
                                <% } %>">
                                    <i class="fab fa-paypal"></i>&#160;&#160;Confirm & Pay
                                </button>
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
        </form>
    </div>
</div>
<script src=" scripts/checkoutForm.js"> </script>