<% layout('layouts/boilerplate') %>

<div class="row">
    <div class="col-12">
        <%- include('partials/flash') %>
    </div>
    <% products.forEach((product) => { %>
    <% if (product.published) { %>
    <div class="col-12 col-md-6 col-lg-4">
        <div class="card mb-4 px-3 pt-3 border-top shadow" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-4 col-md-12">
                    <div class="product-img border rounded bg-light">
                        <a class="single-image my-auto" href="/images/products/<%= product._id %>/<%= product.image %>" >
                            <img src="/images/products/<%= product._id %>/<%= product.image %>">
                        </a>
                    </div>
                </div>
                <div class="col-8 col-md-12 mt-md-3">
                    <div class="card-body p-0 ps-3 ps-md-0">
                        <h5 class="card-title"><%= product.name %></h5>
                        <p><strong>SKU:&#160;</strong><%= product.sku %></p>
                        <p class="card-text"><%= product.details %></p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row g-0">
                <div class="col-6 mt-auto mb-3">
                    <div class="row">
                        <div class="col-12 mb-1">
                            <h6 class="mb-0">
                                <% if (product.stock > 0) { %>
                                Stock: <span class="text-success"><%= product.stock %></span>
                                <% } else { %>
                                <span class="text-danger">Out of Stock</span>
                                <% } %>
                            </h6>
                        </div>
                        <div class="col-12">
                            <% if (!product.isDiscounted) { %>
                            <h1 class="mb-0 d-md-none text-success">
                                <%= product.price.toLocaleString('en-US', {style: 'currency', currency:'USD'}) %></h1>
                            <h4 class="mb-0 d-none d-md-block text-success">
                                <%= product.price.toLocaleString('en-US', {style: 'currency', currency:'USD'}) %></h4>
                            <% } else { %>
                            <h1 class="mb-0 d-md-none" style="font-size: 1.25rem;">
                                <span
                                    class="text-danger text-decoration-line-through"><%= product.price.toLocaleString('en-US', {style: 'currency', currency:'USD'}) %></span>
                            </h1>
                            <h1 class="mb-0 d-md-none">
                                <span
                                    class="text-success"><%= product.discountedPrice.toLocaleString('en-US', {style: 'currency', currency:'USD'}) %></span>
                            </h1>
                            <h4 class="mb-0 d-none d-md-block" style="font-size: 1.0rem;">
                                <span class="text-danger text-decoration-line-through">
                                    <%= product.price.toLocaleString('en-US', {style: 'currency', currency:'USD'}) %>
                                </span>
                            </h4>
                            <h4 class="mb-0 d-none d-md-block">
                                <span class="text-success">
                                    <%= product.discountedPrice.toLocaleString('en-US', {style: 'currency', currency:'USD'}) %>
                                </span>
                            </h4>
                            <% } %>
                        </div>
                    </div>
                </div>

                <div class="col-6 mt-auto mb-3">
                    <form class="add-to-cart-form" onsubmit="addToCart(this.productID.value, this.quantity.value);">
                        <input type="hidden" name="productID" id="productID-<%= product._id%>" value=<%= product._id%>>
                        <div class="row">
                            <div class="col-12 mb-3">
                                <input type="number" class="form-control text-center" min="1" name="quantity"
                                    id="quantity-<%= product._id %>" value="1">
                            </div>
                            <div class="col-12">
                                <div class="d-grid gap-2">
                                    <input type="hidden" value=<%= product._id %>>
                                    <button id="btn-<%= product._id%>" class="btn btn-success add-to-cart">
                                        <i class="fas fa-cart-plus"></i>&#160;&#160;Add to Cart
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <% }}) %>
</div>
<script src="/scripts/addToCart.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
<script type="text/javascript" src="/css/fancybox/jquery.fancybox-1.3.4.pack.js"></script>