<%- include('partials/header') %>

<div class="container">
    <div class="row">
        <div class="col-12 px-4">
            <div class="row">
                <div class="col-lg-3"></div>
                <!-- PRODUCT IMAGE -->
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="pImg mb-4 mb-md-0 border shadow rounded 
                    d-flex align-items-center justify-content-center" onclick="location.href='/images/products/<%= product._id %>/<%= product.image %>'">
                        <img src="/images/products/<%= product._id %>/<%= product.image %>" class="img-fluid" alt="<%= product.name %>"
                        s>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 my-md-auto">
                    <!-- PRODUCT TITLE -->
                    <div class="pName mb-3">
                        <h3><%= product.name %></h3>
                    </div>

                    <!-- PRODUCT PRICE -->
                    <div class="pPrice mb-3">
                        <h1>$<%= product.price %></h1>
                    </div>

                    <!-- PRODUCT SKU-->
                    <div class="pSKU mb-2">
                        <span class="fw-bold">SKU:&#160;</span><span><%= product.sku %></span>
                    </div>

                    <!-- PRODUCT STOCK-->
                    <div class="pStock mb-2">
                        <span class="fw-bold">Stock:&#160;<span class="text-danger"><%= product.stock %></span></span>
                    </div>

                    <form action="" class="mb-4">
                        <div class="row">

                            <!-- QUANTITY -->
                            <label for="quantity" class="form-label fw-bold">Quantity</label>
                            <div class="col-4">
                                <div class="pQty">
                                    <input id="quantity" name="quantity" type="number" class="form-control" value="1">
                                </div>
                            </div>
                            
                            <!-- ADD TO CART -->
                            <div class="col-8">
                                <div class="pCartBtn d-grid gap-2">
                                    <button class="btn btn-success fw-bold">
                                        <i class="fas fa-cart-plus"></i>&#160;&#160;Add to Cart
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-3"></div>

                <!-- PRODUCT DETAILS -->
                <div class="col-12 col-lg-6 mx-auto">
                    <div class="pDetails my-3 my-md-5">
                        <h6><i class="fas fa-info-circle"></i>&#160;&#160;DETAILS</h6>
                        <hr>
                        <div class="pDescription">
                            <ul>
                                <li>1/24th Scale Roll Cage for Slot Cars</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<%- include('partials/footer') %>